{% extends 'base.html' %}

{% block title %} About {% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">


<div class="about-section">
    <p class="about-description">
        <h1>Hello and welcome to MyPortfolio site!</h1>
    
<p>If you're reading this, it's likely that you're searching for projects that can 
    aid you on your career path.That's precisely the purpose of this site.
    
    My name is Aleksandar, and I created this platform because when I began my journey, I struggled to find a place where
    I could explore captivating projects.</p>

    I understand the importance of having access to real-world examples and practical implementations while learning and building a career
     in the tech industry.
     
    That's why I decided to gather all the projects I've worked on prior to finding a job and present them here for your perusal.
    By showcasing my projects, I aim to provide potential clients like yourself with a comprehensive understanding of my skills, capabilities,
    and creativity as a developer. You'll get a glimpse into my problem-solving techniques, the technologies I've employed, and the outcomes I've achieved.
    It's my hope that this will help you assess my suitability for your specific needs.
    
    As you navigate through my portfolio, you'll find detailed descriptions and explanations of each project. I've made sure to include information
    about the technologies used, the challenges encountered, and the solutions implemented. My goal is to give you a clear overview of each project's
    context and value, allowing you to assess their relevance to your own objectives.
    
    I believe that transparency and effective communication are crucial in establishing successful collaborations. Therefore, I encourage you to reach out
    to me with any inquiries, feedback, or potential opportunities. I'm excited to discuss how I can contribute to your projects and help you 
    achieve your goals.
    
    Thank you for visiting my portfolio site, and I look forward to connecting with you soon!</p></p>
  </div>

{% endblock %}