{% extends 'base.html' %}

{% block title %} MyPortfolio {% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<main class="container">
    <p class="myparagraph">Welcome to MyPortfolio</p>
    <section class="animation">
      <div class="first"><div>Explore</div></div>
      <div class="second"><div>Learn</div></div>
      <div class="third"><div>Grow</div></div>
    </section> 
</main>


<div class="welcome-message">
            Welcome to <span>MyPortfolio</span>, a place where you can explore my creative works.
</div>
<div class="collection">
            Here, you will find a collection of my previous projects and artworks.
</div>
<div class="inspiration">
          I hope you will find inspiration and useful resources that will be of help to you.
</div>


{% endblock %}
